/* STYLING FOR THE HOME PAGE */

#home-page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgb(3, 3, 3) 100%), 
                url('images/crystal-home6.gif'); 
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center; 
    min-height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home-title {
    color: whitesmoke;
    font-size: clamp(40px, 4vw, 60px);
    font-weight: 200;
    padding-top: 28vh;
    /*padding-left: 10vw;*/
    margin-bottom: 15px;
    line-height: 1.1;
    text-shadow: 0 0 18px rgba(255, 255, 255, 1), 1px 1px 3px rgba(255, 255, 255, 0.8); 
    -webkit-text-stroke: .3px rgb(255, 255, 255);
    text-align: center;
}

#home-subtitle {
    color: whitesmoke;
    /*padding-left: 10.3vw;*/
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 30vw;
    font-weight:300;
    font-size: clamp(15px, 2vw, 20px);
    text-align: center;
}

#home-button {
    display: inline-block;
    background-color: transparent;
    padding: 12px;
    border-radius: 25px;
    color: white;
    border: 2px whitesmoke solid;
    cursor: pointer;
}

#home-button-wrap {
    transition: background-color .8s ease;
    display: inline-block;
    background-color: none;
    border-radius: 25px;
}

#home-button-wrap:hover {
    background-color: #C1913D;;
}


#home-sec1 {
    background-color: rgb(3, 3, 3); /* Matches the gradient */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    margin-top: -2px;
    padding-top: 50px;
    padding-left:50px;
    padding-right:50px;

}

#home-sec1 h2 {

    color: whitesmoke;
    font-size: clamp(40px, 4vw, 60px);
    font-weight: 200;
    padding-top: 5vh;
    /*padding-left: 10vw;*/
    margin-bottom: 15px;
    line-height: 1.1;
    text-shadow: 0 0 18px rgba(255, 255, 255, 1), 1px 1px 3px rgba(255, 255, 255, 0.8); 
    -webkit-text-stroke: .3px rgb(255, 255, 255);
    text-align: center;

    color: whitesmoke;
    color: rgb(217, 210, 210);
    text-align: center;
    font-size: clamp(40px, 5vw, 85px);
    margin:0px;
    padding-bottom: 30px;
    font-weight: 200;
}

#home-sec1 h4 {
    color: whitesmoke;
    color: rgb(181, 179, 179);
    text-align: center;
    font-size: clamp(20px, 2.5vw, 50px);
    margin:0px;
}


#home-sec1-double {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#home-sec1-double div {
    margin-bottom: 30px;
}


#home-sec1-double div p {
    margin-top:150px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: whitesmoke; 
    border: 2px solid #BB923B; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    width: 58%; 
    margin: 20px auto; 
    font-size: clamp(14px, 2vw, 18px); 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6; 
}


#RISE {
    height: clamp(50px, 2vw, 150px);
    width:auto;
    max-width:40vw;
}

#REFORMING {
    height: clamp(50px, 2vw, 150px);
    width: auto;
    max-width:40vw;
}


#home-learn-more { 
    min-height: 40vh;
    background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(187,146,59,1) 100%);
    flex-grow: 1;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: top; 
}

#home-learn-more-txt {
    margin-top:50px;
    color: whitesmoke;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.2s ease;
    color:#BB923B;
    color:wheat;
}

#home-learn-more-txt:hover {
    font-size: 22px;
}

#home-one-sol {
    padding: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom:0px;
    margin-bottom: 40px;
}

#home-arrows-img {
    width: 60vw;
    background-color:rgb(228, 222, 222);
    border-radius: 25px;
    border: 2px solid #BB923B;
}

#home-sol-txt {
    display:flex;
    flex-direction:column; 
    align-items: center; 
    justify-content: center;

}

#home-sol-txt h2 {
    color: whitesmoke;
    font-size: clamp(40px, 4vw, 60px);
    font-weight: 200;
    padding-top: 5vh;
    /*padding-left: 10vw;*/
    margin-bottom: 15px;
    line-height: 1.1;
    text-shadow: 0 0 18px rgba(255, 255, 255, 1), 1px 1px 3px rgba(255, 255, 255, 0.8); 
    -webkit-text-stroke: .3px rgb(255, 255, 255);
    text-align: center;

    /*border-left: 3px black solid;
    padding-left: 30px;*/
    font-size: clamp(40px, 5vw, 85px);
    align-items: center; 
    justify-content: center;
    margin:0px;
    margin-bottom: 20px;
}

#home-sol-txt p {
    font-size: clamp(12px, 2.8vw, 30px);
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: whitesmoke; 
    border: 2px solid #BB923B; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    max-width: 80%; 
    margin: 20px auto; 
    font-size: clamp(14px, 2vw, 18px); 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6; 
}

#home-arrow2-div {
    display:flex;
    align-items: center; 
    justify-content: center;
    margin-top: -15px;
    padding-bottom: 40px;
}

#home-arrow2 {
    height:40px;
    transition: all 0.2s ease;
}

#home-arrow2-div img:hover {
    height:50px;
}

#home-hr2 {
    width: 60%; 
    height: 2px; 
    background-color: #BB923B; 
    border: none; 
    border-radius: 40%;
    margin: 20px auto; 
}

#home-hr3 {
    width: 60%; 
    height: 2px; 
    background-color: black;
    border: none; 
    border-radius: 40%;
    margin: 20px auto; 
}

#home-cblm {
    color:black;
    text-align: center;
    margin-bottom: -30px;
    font-style: italic;
    z-index: 1;
    font-size: clamp(10px, 2.6vw, 25px);
    padding-top: 15px;
}

#home-tech-links-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 222, 222);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #BB923B;
    margin-bottom:40px;
}

#home-tech-links {
    position: relative;
    z-index: 1; 
    display: flex;
    justify-content: center;
    margin-bottom:-15px;
    
}

#home-tech-links img {
    width: 28vw;
    height: auto;
}

#home-tech-links a img {
    transition: transform 0.3s ease;
}

#home-tech-links a:hover img {
    transform: scale(1.1);
}

#next-sec-h {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #000000;
    margin: 0;
    margin-top: 30px;
}

#next-button-h {
    background-color: #fdde9d;
    color: rgb(0, 0, 0); 
    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px; 
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s; 
    font-weight:100;
    font-style: italic;
}
  

#next-button-h:hover {
    background-color: rgb(196, 175, 56);
    transform: scale(1.05); /* Slightly increase size */
}

#home-decarbon {
    justify-content: center;
    align-items: center;
}

#home-decarbon-txt {
    color: whitesmoke;
    font-size: clamp(40px, 4vw, 60px);
    font-weight: 200;
    padding-top: 5vh;
    /*padding-left: 10vw;*/
    margin-bottom: 15px;
    line-height: 1.1;
    text-shadow: 0 0 18px rgba(255, 255, 255, 1), 1px 1px 3px rgba(255, 255, 255, 0.8); 
    -webkit-text-stroke: .3px rgb(255, 255, 255);
    text-align: center;

    /*border-left: 3px black solid;
    padding-left: 30px;*/
    font-size: clamp(40px, 5vw, 85px);
    align-items: center; 
    justify-content: center;
    margin:0px;
    margin-bottom: 20px;
}

.card-container {
    perspective: 1000px;
    display: flex;
    gap: 30px;
  }

.card {
    width: 30vw;
    height: 35vh;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s;
  }

.card:hover {
    transform: rotateY(180deg);
  }

.card.flipped {
    transform: rotateY(180deg); /* Flips on click (controlled via JavaScript) */
  }

.card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding-top: 30px;
    font-size: 35px;
    font-weight: 200;
    color: #000000;
    border: 2px solid #C1913D;
    border-radius: 30px;

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }

.card-front {
    background-color: whitesmoke;
  }

.card-back {
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    
  }

.card-back img {
    width: 130px;
    width: clamp(130px, 10vw, 300px);
}