/* Set background image for the header */
body {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    font-family: 'Avenir';
    font-weight: bolder;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-color: #12452d;
}

body.fade-out {
    opacity: 0;
}

body.fade-in {
    opacity: 1;
}


header {
    position: fixed; /* Add position relative to establish stacking context */
    width: 100%; /* Full width */
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s ease; /* Add transition for smooth animation */
    /*background-image: url('images/background.jpg');*/
    background-color: #063623;
    background-size: cover;
    background-position: center;
    color: white; 
    text-align: center; /* Center align text */
    /*padding: 10px 0;  Add padding for spacing */
    font-size: 20px;

    padding: 30px 20px; /* Add padding for spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px; /* Adjust as needed */
    margin-right: 10px; /* Space between logo and company name */
    margin-left: 50px;
}

nav {
    padding-right: 75px; /* Adjust padding to create space from the right edge */
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Space between links */
    font-size: 18px; /* Adjust font size as needed */
    /*margin-right: 20px;*/
}

nav a:hover {
    text-decoration: underline; /* Add hover effect if desired */
}

.minimized {
    padding: 3px 0; /* Adjust padding to make header smaller */
    font-size: 10px !important;
}

.custom-p1 {
    margin: 0;
    font-size: 75px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: black;
    z-index: 2000;
}

/* Style the main content section */
.main-content {
    position: relative; /* Position relative for positioning background image */
    min-height: 100vh /* Set minimum height */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg'); /* Same background image as header */
    background-size: cover;
    background-position: center;
    opacity: 1; /* Set opacity to create a semi-transparent overlay */
    z-index: -2000;
}

.content {
    padding: 200px;
    text-align: center; /* Center align content */
    z-index: 1000;
}

/* Style the button */
button {
    display: block; /* Make the button a block-level element */
    margin: 20px auto; /* Center the button horizontally with auto margins */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Set font size */
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    position: relative; /* Ensure button is positioned relative */
    z-index: 1; /* Set a higher z-index to ensure the button is clickable */
}

button:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}

.image-container {
    position: relative; /* Ensure button is positioned relative */
    z-index: 1; /* Set a higher z-index to ensure the button is clickable */
}

.image-container img {
    width: 300px;
    height: auto;
}

/* Style the paragraph */
p {
    /*margin-bottom: 20px; /* Add bottom margin for spacing */
    font-size: 18px; /* Set font size */
    line-height: 1.5; /* Set line height for readability */
    color:black;
}

footer {
    text-align: center;
    background-color: bisque;
}

