/* Color Theme: Black, Whitesmoke, and #BB923B gold */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #030303;
}

::-webkit-scrollbar-thumb {
    background-color: #888686;
    border-radius: 6px;
    border: 3px solid #282828;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

body {
    margin: 0;
    width: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-out {
    opacity: 0;
}

body.fade-in {
    opacity: 1;
}

header {
    position: fixed; 
    width: 100%; 
    top: 0;
    left: 0;
    padding: 18px 9px;
    background-color: #063623;
    color: white; 
    text-align: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*transition: all 0.2s ease;*/
    opacity: 1;
    z-index: 6000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

    background-image: url('images/crystalgif.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100vw;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 40px;
    transition: all 0.5s ease;
}

#RR-text {
    margin-left: -20px;
}

header nav {
    padding-right: 60px; 
    display: flex;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px; 
    font-size: 15px; 
    padding-top: 10px;
    padding-bottom:10px;
    font-family: 'Archivo', sans-serif;
    font-weight: bolder;
    position: relative;
}

header nav a:hover {
    text-decoration: none;
    color:rgb(196, 175, 56);
}

header nav a:not(:last-child)::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 2px;
    background-color: #ffffff; 
    z-index: 1000;
}

.contact-link {
    background-color: #000000; 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.contact-link:hover {
    background-color:rgb(196, 175, 56);
    color:white;
    text-decoration:none;
}


footer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #063623;
    height: 150px;
    justify-content: space-between;
    background-image: url('images/crystalgif.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100vw;
    
}

footer a {
    margin-right: 100px;
    text-decoration: none;
}

footer a p {
    line-height: 1.65;
    color: wheat;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 80px;
    transition: all 0.5s ease;
    margin-left:15px;
}

#home-front {
    padding-top:150px;
    background: linear-gradient(180deg, rgba(187,146,59,1) 85%, rgba(3,3,3,1) 100%);;
}

#home-front div{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#home-front hr {
    width: 35vw;
    border: none;
    border-top: 2px solid #000; 
    margin: 0; 
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#tLT{
    margin-left: 200px;
    font-size: clamp(12px, 2.8vw, 150px);
    padding-bottom:5px;
    text-align: center;
    font-weight: 500;
}

#tLB {
    margin-left: 200px;
    font-size: clamp(10px, 2.8vw, 16px);
    padding-top: 5px;
    text-align:left;
    min-width: 100px;
}

#tRT {
    margin-right: 200px;
    font-size: clamp(12px, 2.8vw, 150px);
    padding-bottom:5px;
    text-align: center;
    font-weight: 500;
}

#tRB {
    margin-right: 200px;
    font-size: clamp(10px, 2.8vw, 16px);
    padding-top: 5px;
    text-align:right;
}

#home-team-image {
    padding-top:10px;
    width:clamp(54vw, 4vw, 1000px);
}

#home-image-bottom {
    margin:0;
    border-top: 4px solid #000;
    /*padding-bottom:20px;*/
    border-bottom: 1px solid #000;
    margin-bottom:0;
}


#home-sec2 {
    background-color: rgb(3, 3, 3);
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 50px;
}

#home-sec2 div {
    align-items: center; 
    justify-content: center; 
    display: flex; 
    /*flex-direction: column;*/
    gap: clamp(30px, 2vw, 60px);
}

#RISE {
    height: clamp(50px, 2vw, 150px);
    width:auto;
    max-width:40vw;
}

#REFORMING {
    height: clamp(50px, 2vw, 150px);
    width: auto;
    max-width:40vw;
}

#home-sec2-hr {
    margin-top:30px;
    width:60vw;
    border-top: 3px solid lightgoldenrodyellow;
    border-radius: 40%;
}

#home-page {
    display:flex;
    flex-direction: column;
    min-height:100vh;
}

#home-learn-more { 
    min-height: 40vh;
    background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(187,146,59,1) 100%);
    flex-grow: 1;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: top; 
    /*On click, or direct scroll, accelerate down to next section*/
}

#home-learn-more-txt {
    margin-top:50px;
    color: whitesmoke;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.2s ease;
    color:#BB923B;
    color:wheat;
}

#home-learn-more-txt:hover {
    font-size: 22px;
}

#home-arrow {
    height:80px;
    transition: all 0.2s ease;
}

#home-arrow:hover {
    height:88px;
}



#home-sec3 {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Space between the title area and content area */
    padding: 40px;
    /*min-height: 500px;*/
    background-color: whitesmoke;
    background-color: lightgrey;
}

#home-sec3-title {
    width: 30%; 
    padding-right: 50px;
    border-left: 4px solid #000000; 
    box-sizing: border-box;
    margin-right: 30px;
}

#home-sec3-title-text {
    margin: 0; 
    padding-left: 15px; 
    font-size: 50px;
    color: #000000;
    font-size: clamp(20px, 5.5vw, 100px);
    margin-bottom: 30px;
}

#home-sec3-title-text-sub {
    padding-left: 15px;
    color: #000000;
    font-size: clamp(18px, 3vw, 40px);
}

#home-sec3-content-area {
    width: 65%; 
    display: flex;
    /*justify-content: space-between; */
    justify-content: right;
    gap: 20px; 
    box-sizing: border-box;
}

#home-sec3-image1-container, #home-sec3-image2-container {
    width: 45%; 
}

#home-sec3-image1, #home-sec3-image2 {
    width: 100%; 
    height: auto; 
    display: block;
    border: 5px solid black;
    border-radius: 5px;
}

#home-sec3-description1, #home-sec3-description2 {
    margin-top: 10px; 
    font-size: clamp(15px, 1.8vw, 32px);
    color: #666;
}

#home-sec4 {
    height:1000px;
}